<% include ./partials/header %>
        <h1 style="text-align: center; ">Sign Up</h1>
        <div style="width: 30%; margin: 25px auto; padding-top: 2rem;">
            <form action="/register" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="form-control" name="adminCode" id="adminCode" placeholder="Write 0 if not admin">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
                </div>
                
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
<% include ./partials/footer %>

