<% include ../partials/header %>
    <div class="container newheading" style="text-align: center;">
        <h1>Make a new Post</h1>
    </div>
        <div style="width: 30%; margin: 25px auto; margin-top: 2rem;">
            <form action="/campgrounds" method="POST">
                <div class="form-group">
                    <label for="title">Title<span style="color:red;" >*</span></label>
                    <input class="form-control" type="text" name="title" id="title" placeholder="Binary Search" required>
                </div>
                <div class="form-group">
                    <label for="Difficulty">Difficulty<span style="color:red ;">*</span></label>
                    <input class="form-control" type="text" name="difficulty" id="difficulty" placeholder="Hard" required>
                </div>
                <div class="form-group">
                    <label for="subtopic">Subtopic</label>
                    <input class="form-control" type="text" name="subtopic" id="subtopic" placeholder="Dynamic Programming" >
                </div>
                <div class="form-group">
                    <label for="language">Language<span style="color:red ;">*</span></label>
                    <input class="form-control" type="text" name="language" id="language" placeholder="C++" required>
                </div>
                <div class="form-group" >
                    <label for="code">Code<span style="color:red ;">*</span></label><br>
                    <textarea name="code" id="code" cols="60" rows="20" ></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-dark btn-block">Submit!</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
<% include ../partials/footer %>

